################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dotnet-interaction-ethnode/obj
/dotnet-interaction-ethnode/bin/Debug/net5.0
